/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/gui/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/gui/build/
/Ciclo2/JavaBasico/Retos/src/Reto2/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/EJerciciosGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/JavaGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/JavaGUI/build/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/ExperimentoGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/ExperimentoGUI/build/
/Ciclo2/JavaBasico/Retos/Reto2/nbproject/private/
/Ciclo2/JavaBasico/Retos/Reto2/dist/
/Ciclo2/JavaBasico/Retos/Reto3New/nbproject/private/
/Ciclo2/JavaBasico/Retos/Reto3New/build/
/Ciclo3/Retos/Reto3/target/Ciclo3_Reto3-0.0.01-SNAPSHOT.jar.original
/Ciclo3/Retos/Reto3/target/classes/
/Ciclo3/Retos/Reto3/target/generated-sources/
/Ciclo3/Retos/Reto3/target/generated-test-sources/
/Ciclo3/Retos/Reto3/target/maven-archiver/
/Ciclo3/Retos/Reto3/target/maven-status/
/Ciclo3/Retos/Reto3/target/surefire-reports/
/Ciclo3/Retos/Reto3/target/test-classes/
