/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/gui/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/gui/build/
/Ciclo2/JavaBasico/Retos/src/Reto2/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/EJerciciosGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/JavaGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/src/JavaGUI/build/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/ExperimentoGUI/nbproject/private/
/Ciclo2/JavaBasico/EjerciciosDiapositivas/ExperimentoGUI/build/
/Ciclo2/JavaBasico/Retos/Reto2/nbproject/private/
/Ciclo2/JavaBasico/Retos/Reto2/dist/
/Ciclo2/JavaBasico/Retos/Reto3New/nbproject/private/
/Ciclo2/JavaBasico/Retos/Reto3New/build/
